.demo2 {
  /* 解压小游戏 放烟花区域 start */
  /* 自动播放按钮 */
}
.demo2 .fireworkArea {
  position: relative;
  width: 80%;
  height: 80%;
  background-size: 100%;
  border-radius: 15px;
}
.demo2 .fireworkArea button {
  position: absolute;
  width: 130px;
  height: 45px;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 20px;
  background: none;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  z-index: 1;
}
